{% extends 'layout.html' %} 
{% block content %}

<div class="content-header">
	<h1>Tools</h1>
</div>

<div class="panel panel-default static-modal">
	<div class="panel-heading">Spacing</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<h4>Margin</h4>
				<ul>
					<li>.m (all sides)</li>
					<li>.mt (top)</li>
					<li>.mb (bottom)</li>
					<li>.mr (right)</li>
					<li>.ml (left)</li>
					<li>.mv (left-right)</li>
					<li>.mh (top-bottom)</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h4>Padding</h4>
				<ul>
					<li>.p (all sides)</li>
					<li>.pt (top)</li>
					<li>.pb (bottom)</li>
					<li>.pr (right)</li>
					<li>.pl (left)</li>
					<li>.pv (left-right)</li>
					<li>.ph (top-bottom)</li>
				</ul>
			</div>			
			<div class="col-md-4">
				<h4>Sizes</h4>
				<ul>
					<li>-none (0px)</li>
					<li>-sm (5px)</li>
					<li>(10px)</li>
					<li>-lg (15px)</li>
					<li>-xl (30px)</li>
					<li>-xxl (60px)</li>
				</ul>
			</div>
		</div>
		<h4>Examples</h4>
		<div class="m" style="width: 50px; height: 50px; background: #ddd; display: inline-block;">.m</div>
		<div class="mr-xl" style="width: 50px; height: 50px; background: #ddd; display: inline-block;">.mr-xl</div>

		<div class="p" style="width: 50px; height: 50px; background: #ddd; display: inline-block;">.p</div>
		<div class="pl-lg" style="width: 50px; height: 50px; background: #ddd; display: inline-block;">.pl-lg</div>
	</div>
</div>

<div class="panel panel-default static-modal">
	<div class="panel-heading">Colors</div>
	<div class="panel-body">
		<div class="alert alert-success">Success</div>
		<div class="alert alert-info">Info</div>
		<div class="alert alert-warning">Warning</div>
		<div class="alert alert-danger">Danger</div>
		<div class="alert alert-primary">Primary</div>
		<div class="alert alert-dark">Dark</div>
		<div class="alert alert-red">Red</div>
		<div class="alert alert-pink">Pink</div>
		<div class="alert alert-purple">Purple</div>
		<div class="alert alert-deep-purple">Deep purple</div>
		<div class="alert alert-indigo">Indigo</div>
		<div class="alert alert-blue">Blue</div>
		<div class="alert alert-teal">Teal</div>
		<div class="alert alert-green">Green</div>
		<div class="alert alert-light-green">Light green</div>
		<div class="alert alert-lime">Lime</div>
		<div class="alert alert-yellow">Yellow</div>
		<div class="alert alert-orange">Orange</div>
		<div class="alert alert-deep-orange">Deep orange</div>
		<div class="alert alert-brown">Brown</div>
		<div class="alert alert-grey">Grey</div>
		<div class="alert alert-light-grey">Light grey</div>
		<div class="alert alert-blue-grey">Blue grey</div>
	</div>
</div>

{% endblock %}
