<div class="content-header">
	<h1><i class="icon-graph"></i>Flot</h1>
	<small>Flot is a pure JavaScript plotting library for jQuery, with a focus on simple usage, attractive looks and interactive features.</small>
</div>

<div ng-controller="ChartsFlotController">
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">Area</div>
				</div>
				<div class="panel-body">
					<flot dataset="areaData" options="areaOptions" class="chart-area flot-chart"></flot>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">Area Spline</div>
				</div>
				<div class="panel-body">
					<flot dataset="splineData" options="splineOptions" class="chart-spline flot-chart"></flot>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">Bar</div>
				</div>
				<div class="panel-body">
					<flot dataset="barData" options="barOptions" class="chart-bar flot-chart"></flot>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">Bar - Stacked</div>
				</div>
				<div class="panel-body">
					<flot dataset="stackedData" options="stackedOptions" class="chart-bar-stacked flot-chart"></flot>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">Pie</div>
				</div>
				<div collapse="panelChart5" class="panel-wrapper">
					<div class="panel-body">
						<flot dataset="pieData" options="pieOptions" class="chart-pie flot-chart"></flot>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">Donut</div>
				</div>
				<div collapse="panelChart6" class="panel-wrapper">
					<div class="panel-body">
						<flot dataset="donutData" options="donutOptions" class="chart-donut flot-chart"></flot>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
